Repository Juhertra/dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @runtime-lead, @security-lead, @workflow-lead, @tools-lead, @findings-lead, @observability-lead, @devex-lead

.github/CODEOWNERS:

# SecFlow CODEOWNERS
# Core & runtime
/secflow/core/**         @runtime-lead @security-lead
/secflow/storage/**      @runtime-lead
/secflow/workflow/**     @workflow-lead @runtime-lead
# Tools & parsers
/secflow/tools/**        @tools-lead @findings-lead
# Schemas
/schemas/**              @findings-lead @runtime-lead
# Plugins & policies
/plugins/**              @security-lead
# Security components
/security/**             @security-lead
# Observability & devex
/ops/**                  @observability-lead @devex-lead
/scripts/**              @devex-lead
# GitHub workflows and security
/.github/**              @devex-lead @security-lead
# Docs
/docs/**                 @devex-lead
# Root config
/*                       @devex-lead

chore(reports): update journal metrics [skip ci]
  reports/daily/2025/10/18/metrics.json
Owners: none

feat(shared-state): add journal-to-issues and project status sync workflows
  .github/labeler.yml
  .github/workflows/journal-to-issues.yml
  .github/workflows/project-status-sync.yml
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
Owners: @devex-lead, @security-lead

docs(shared-state): add SecFlow Projects v2 board documentation
  docs/shared-state/PROJECTS.md
Owners: @devex-lead

feat(devops): configure Projects v2 integration
  .github/workflows/project-status-sync.yml
  .github/workflows/project-sync.yml
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
  reports/devops/projects-v2-integration-guide.md
  secflow/SHARED-STATE-CONTRACT-v1.1.md
Owners: @devex-lead, @security-lead

feat(shared-state): add workflows to main branch
  .github/workflows/journal-to-issues.yml
  .github/workflows/project-status-sync.yml
  .github/workflows/project-sync.yml
Owners: @devex-lead, @security-lead

coordinator: board smoke test - handoff to @devex-lead
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

test: board smoke test PR
  board-smoke-test.md
Owners: @devex-lead

coordinator: EOD - Board Smoke Test Results
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

feat(shared-state): add journal backfill tool and workflow
  .github/workflows/journal-backfill.yml
  tools/journal_backfill.py
Owners: @devex-lead, @security-lead

fix(shared-state): improve journal backfill tool error handling
  tools/journal_backfill.py
Owners: none

fix(shared-state): fix project board Status field population
  .github/workflows/project-sync.yml
  tools/fix_project_status.py
Owners: @devex-lead, @security-lead

feat(shared-state): add tool to add Blocked status option
  tools/add_blocked_status.py
Owners: none

feat(shared-state): add project backfill workflow
  .github/workflows/project-backfill.yml
Owners: @devex-lead, @security-lead

fix(shared-state): improve project backfill workflow formatting
  .github/workflows/project-backfill.yml
Owners: @devex-lead, @security-lead

feat(shared-state): add Python project backfill tool
  tools/project_backfill.py
Owners: none

feat(devops): seed board/status labels for Projects v2 integration
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
  control/journal/agents/security-lead/2025-10/security-lead-2025-10-18.ndjson
  reports/devops/board-status-labels-summary.md
  tools/__pycache__/journal.cpython-311.pyc
Owners: none

coordinator: Backfill Verification Complete
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

coordinator: Test journal-to-issues workflow with secrets
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

fix: update journals baseline to include test handoff
  control/config/journals_baseline.json
Owners: none

test: project-sync workflow
  test-project-sync.md
Owners: @devex-lead

coordinator: Full Automation Test Complete - Secrets Working
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

feat(devops): bootstrap Projects v2 secrets and role mapping
  .github/role-map.json
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/security-lead/2025-10/security-lead-2025-10-18.ndjson
  reports/devops/projects-role-map-bootstrap-summary.md
Owners: @devex-lead, @security-lead

feat(shared-state): add project repair and autosync system
  .github/role-map.json
  .github/workflows/project-autosync.yml
  .github/workflows/project-repair.yml
  tools/project_repair.py
Owners: @devex-lead, @security-lead

fix(shared-state): improve project repair script GraphQL handling
  tools/project_repair.py
Owners: none

coordinator: EOD - Board Normalized
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

chore(board): add Projects v2 reconciler (Status+Assignees)
  tools/project_fields.py
  tools/project_reconcile.py
Owners: none

fix(board): fix GraphQL union type handling in project reconciler
  tools/project_fields.py
Owners: none

ci(board): autosync and nightly repair for Projects v2
  .github/workflows/project-autosync.yml
  .github/workflows/project-repair.yml
Owners: @devex-lead, @security-lead

coordinator: Board Normalized — Status Fields Populated + QA Audit Handoff
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

coordinator: Board normalized and QA audit handoff
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Owners: none

chore(board): status parity (labels <-> Project Status field)
  tools/project_gql.py
  tools/status_parity.py
Owners: none

docs: DevEx Lead journal - status parity tool implementation
  control/journal/agents/devex-lead/2025-10/devex-lead-2025-10-18.ndjson
Owners: none

feat(devex): implement project status parity synchronization tools
  tools/project_gql.py
  tools/status_parity.py
Owners: none

feat(shared-state): configure project autosync workflow
  .github/workflows/project-autosync.yml
Owners: @devex-lead, @security-lead

autosync: populate Project text field 'Agent Role' from role:* labels
  tools/board_contract.py
  tools/project_gql.py
Owners: none

devex: deterministic Agent Role repair (Owner/handoff/label + area-map) + reports
  .github/area-role-map.yml
  tools/agent_role_repair.py
  tools/project_gql.py
Owners: @devex-lead, @security-lead

devex: Agent Role hotfix — set-only, no clears, area-fallback disabled
  tools/agent_role_repair.py
Owners: none

P010: deduplicate legacy store helper logic
  .ai/REVIEW.md
  store.py
  tests/test_store_dossier_helpers.py
Owners: @devex-lead

docs: record P010 validation results
  .ai/REVIEW.md
Owners: none

P020: harden API key and local config defaults
  .gitignore
  README.md
  app.py
  app/settings.py
  app_config.example.json
  app_config.json
  tests/test_config_and_api_keys.py
Owners: @devex-lead
