Repository Juhertra/dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @runtime-lead, @security-lead, @workflow-lead, @tools-lead, @findings-lead, @observability-lead, @devex-lead

.github/CODEOWNERS:

# SecFlow CODEOWNERS
# Core & runtime
/secflow/core/**         @runtime-lead @security-lead
/secflow/storage/**      @runtime-lead
/secflow/workflow/**     @workflow-lead @runtime-lead
# Tools & parsers
/secflow/tools/**        @tools-lead @findings-lead
# Schemas
/schemas/**              @findings-lead @runtime-lead
# Plugins & policies
/plugins/**              @security-lead
# Security components
/security/**             @security-lead
# Observability & devex
/ops/**                  @observability-lead @devex-lead
/scripts/**              @devex-lead
# GitHub workflows and security
/.github/**              @devex-lead @security-lead
# Docs
/docs/**                 @devex-lead
# Root config
/*                       @devex-lead

fix(ci): align imports/contracts and pyright json scope [P050]
  .ai/REVIEW.md
  .github/workflows/contracts.yml
  .github/workflows/imports.yml
  packages/plugins/python314_integration.py
Owners: @devex-lead, @security-lead

docs(ai): refresh orchestrator M1 facts in map/brain [P060]
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/REVIEW.md
Owners: none

fix(ci): repair ruff/unit/coverage workflows [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .github/workflows/unit.yml
Owners: @devex-lead, @security-lead

fix(ci): remove matrix from ruff/unit/coverage [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .github/workflows/unit.yml
Owners: @devex-lead, @security-lead

fix(ci): stabilize unit and coverage execution [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/unit.yml
Owners: @devex-lead, @security-lead

docs(ai): add P061 merge-readiness review [P061]
  .ai/REVIEW.md
Owners: none

fix(workflow): remove duplicate executor declarations [P063]
  .ai/REVIEW.md
  packages/workflow_engine/executor.py
Owners: none

docs(ai): add post-implementation review for P063 [P063]
  .ai/REVIEW.md
Owners: none

test(security): repair P064 security and observability suite [P064]
  .ai/REVIEW.md
  tests/test_observability.py
  tests/test_plugin_security.py
  tests/test_security.py
Owners: none

chore(ai): record P064 merge readiness review [P064]
  .ai/REVIEW.md
Owners: none

fix(P062): remove sys.path hacks from orchestrator modules and CLI tools
  packages/storage/adapters/memory.py
  packages/workflow_engine/executor.py
  tools/run_workflow.py
  tools/validate_recipe.py
Owners: none

chore(P040): add Gate A split preflight inventory artifact
  .ai/PATCHES/P040-gate-a-artifact.md
Owners: none

chore(ai): harden agent role boundaries [P065]
  .ai/AGENTS.md
  .ai/CHANGE_BOUNDARIES.md
  .ai/PATCHES/P065-agent-role-boundary-hardening.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Owners: none

chore(ai): enforce phase ownership and one-phase execution [P066]
  .ai/AGENTS.md
  .ai/MULTI_AGENT_GUIDE.md
  .ai/PATCHES/P066-phase-ownership-single-step.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Owners: none

chore(ai): enforce phase ownership and one-phase execution [P066] (#111)
  .ai/AGENTS.md
  .ai/MULTI_AGENT_GUIDE.md
  .ai/PATCHES/P066-phase-ownership-single-step.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Owners: none

chore(ai): harden phase state writeback [P067]
  .ai/AGENTS.md
  .ai/RUNBOOK.md
Owners: none

chore(ai): harden phase state writeback [P067] (#112)
  .ai/AGENTS.md
  .ai/RUNBOOK.md
Owners: none

chore(ai): add subagent observability rule [P068]
  .ai/RUNBOOK.md
Owners: none

chore(ai): add subagent observability rule [P068] (#113)
  .ai/RUNBOOK.md
Owners: none

chore(split): fix import-linter for Gate C
  .importlinter
Owners: @devex-lead

chore(tests): remove residual orchestrator workflow test files [P073]
  tests/workflow/test_workflow_execution.py
  tests/workflow/test_workflow_integration.py
  tests/workflow/test_workflow_scaffolding.py
Owners: none

chore(tests): remove residual orchestrator workflow test files [P073] (#116)
  tests/workflow/test_workflow_execution.py
  tests/workflow/test_workflow_integration.py
  tests/workflow/test_workflow_scaffolding.py
Owners: none

chore(ci): fix deprecated artifact actions and add continue-on-error to comment steps [P075]
  .github/workflows/security-monitoring.yml
  .github/workflows/security-scan.yml
Owners: @devex-lead, @security-lead

chore(ci): fix deprecated artifact actions and add continue-on-error to comment steps [P075] (#117)
  .github/workflows/security-monitoring.yml
  .github/workflows/security-scan.yml
Owners: @devex-lead, @security-lead

chore(deps): remove unused cryptography dependency from pyproject [P074]
  pyproject.toml
Owners: @devex-lead

chore(deps): remove unused cryptography dependency from pyproject [P074] (#118)
  pyproject.toml
Owners: @devex-lead

chore(ai): close split lifecycle and normalize coordination facts [P076]
  .ai/CONTEXT.md
  .ai/ENTRYPOINTS.md
  .ai/MEMORY.md
  .ai/PLAN.md
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/SEARCH_GUIDE.md
  .ai/TASK.md
Owners: none

chore(ai): close split lifecycle and normalize coordination facts [P076] (#119)
  .ai/CONTEXT.md
  .ai/ENTRYPOINTS.md
  .ai/MEMORY.md
  .ai/PLAN.md
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/SEARCH_GUIDE.md
  .ai/TASK.md
Owners: none
