Repository Juhertra/dev, changes with the labels that .github/labeler.yml gives for each.
All labels: area:runtime, area:workflow, area:tools, area:findings, area:observability, area:security, area:resources, area:docs, role:coordinator, role:integration, status:Todo, status:In Progress, status:Blocked, status:Done

fix(ci): remove matrix from ruff/unit/coverage [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .github/workflows/unit.yml
Labels: none

fix(ci): stabilize unit and coverage execution [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/unit.yml
Labels: none

docs(ai): add P061 merge-readiness review [P061]
  .ai/REVIEW.md
Labels: none

fix(workflow): remove duplicate executor declarations [P063]
  .ai/REVIEW.md
  packages/workflow_engine/executor.py
Labels: status:In Progress

docs(ai): add post-implementation review for P063 [P063]
  .ai/REVIEW.md
Labels: none

test(security): repair P064 security and observability suite [P064]
  .ai/REVIEW.md
  tests/test_observability.py
  tests/test_plugin_security.py
  tests/test_security.py
Labels: status:Blocked

chore(ai): record P064 merge readiness review [P064]
  .ai/REVIEW.md
Labels: none

fix(P062): remove sys.path hacks from orchestrator modules and CLI tools
  packages/storage/adapters/memory.py
  packages/workflow_engine/executor.py
  tools/run_workflow.py
  tools/validate_recipe.py
Labels: role:integration, status:In Progress

chore(P040): add Gate A split preflight inventory artifact
  .ai/PATCHES/P040-gate-a-artifact.md
Labels: none

chore(ai): harden agent role boundaries [P065]
  .ai/AGENTS.md
  .ai/CHANGE_BOUNDARIES.md
  .ai/PATCHES/P065-agent-role-boundary-hardening.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Labels: none

chore(ai): enforce phase ownership and one-phase execution [P066]
  .ai/AGENTS.md
  .ai/MULTI_AGENT_GUIDE.md
  .ai/PATCHES/P066-phase-ownership-single-step.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Labels: none

chore(ai): enforce phase ownership and one-phase execution [P066] (#111)
  .ai/AGENTS.md
  .ai/MULTI_AGENT_GUIDE.md
  .ai/PATCHES/P066-phase-ownership-single-step.md
  .ai/REVIEW.md
  .ai/RUNBOOK.md
  .ai/TASK.md
  .ai/prompts/CLAUDE_REVIEWER.md
  .ai/prompts/CODEX_IMPLEMENTER.md
Labels: none

chore(ai): harden phase state writeback [P067]
  .ai/AGENTS.md
  .ai/RUNBOOK.md
Labels: none

chore(ai): harden phase state writeback [P067] (#112)
  .ai/AGENTS.md
  .ai/RUNBOOK.md
Labels: none

chore(ai): add subagent observability rule [P068]
  .ai/RUNBOOK.md
Labels: none

chore(ai): add subagent observability rule [P068] (#113)
  .ai/RUNBOOK.md
Labels: none

chore(split): fix import-linter for Gate C
  .importlinter
Labels: none

chore(tests): remove residual orchestrator workflow test files [P073]
  tests/workflow/test_workflow_execution.py
  tests/workflow/test_workflow_integration.py
  tests/workflow/test_workflow_scaffolding.py
Labels: status:Blocked

chore(tests): remove residual orchestrator workflow test files [P073] (#116)
  tests/workflow/test_workflow_execution.py
  tests/workflow/test_workflow_integration.py
  tests/workflow/test_workflow_scaffolding.py
Labels: status:Blocked

chore(ci): fix deprecated artifact actions and add continue-on-error to comment steps [P075]
  .github/workflows/security-monitoring.yml
  .github/workflows/security-scan.yml
Labels: none

chore(ci): fix deprecated artifact actions and add continue-on-error to comment steps [P075] (#117)
  .github/workflows/security-monitoring.yml
  .github/workflows/security-scan.yml
Labels: none

chore(deps): remove unused cryptography dependency from pyproject [P074]
  pyproject.toml
Labels: none

chore(deps): remove unused cryptography dependency from pyproject [P074] (#118)
  pyproject.toml
Labels: none

chore(ai): close split lifecycle and normalize coordination facts [P076]
  .ai/CONTEXT.md
  .ai/ENTRYPOINTS.md
  .ai/MEMORY.md
  .ai/PLAN.md
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/SEARCH_GUIDE.md
  .ai/TASK.md
Labels: none

chore(ai): close split lifecycle and normalize coordination facts [P076] (#119)
  .ai/CONTEXT.md
  .ai/ENTRYPOINTS.md
  .ai/MEMORY.md
  .ai/PLAN.md
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/SEARCH_GUIDE.md
  .ai/TASK.md
Labels: none

.github/labeler.yml:

area:runtime:        [ 'packages/core-lib/**' ]
area:workflow:       [ 'packages/workflow/**' ]
area:tools:          [ 'packages/wrappers/**' ]
area:findings:       [ 'packages/findings/**' ]
area:observability:  [ 'packages/observability/**' ]
area:security:       [ 'packages/security/**' ]
area:resources:      [ 'packages/resources/**' ]
area:docs:           [ 'docs/**' ]
role:coordinator:    [ 'control/**', 'reports/**' ]
role:integration:    [ 'control/**', 'tools/**' ]

# Status labels for project management
status:Todo:         [ 'control/journal/**/*.ndjson' ]
status:In Progress:  [ 'packages/**', 'tools/**', 'scripts/**' ]
status:Blocked:      [ 'docs/**', 'tests/**' ]
status:Done:         [ 'reports/**', 'archive/**' ]
