Repository Juhertra/dev, changes with the labels that .github/labeler.yml gives for each.
All labels: area:runtime, area:workflow, area:tools, area:findings, area:observability, area:security, area:resources, area:docs, role:coordinator, role:integration, status:Todo, status:In Progress, status:Blocked, status:Done

feat(devops): configure Projects v2 integration
  .github/workflows/project-status-sync.yml
  .github/workflows/project-sync.yml
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
  reports/devops/projects-v2-integration-guide.md
  secflow/SHARED-STATE-CONTRACT-v1.1.md
Labels: role:coordinator, role:integration, status:Todo, status:Done

feat(shared-state): add workflows to main branch
  .github/workflows/journal-to-issues.yml
  .github/workflows/project-status-sync.yml
  .github/workflows/project-sync.yml
Labels: none

coordinator: board smoke test - handoff to @devex-lead
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

test: board smoke test PR
  board-smoke-test.md
Labels: none

coordinator: EOD - Board Smoke Test Results
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

feat(shared-state): add journal backfill tool and workflow
  .github/workflows/journal-backfill.yml
  tools/journal_backfill.py
Labels: role:integration, status:In Progress

fix(shared-state): improve journal backfill tool error handling
  tools/journal_backfill.py
Labels: role:integration, status:In Progress

fix(shared-state): fix project board Status field population
  .github/workflows/project-sync.yml
  tools/fix_project_status.py
Labels: role:integration, status:In Progress

feat(shared-state): add tool to add Blocked status option
  tools/add_blocked_status.py
Labels: role:integration, status:In Progress

feat(shared-state): add project backfill workflow
  .github/workflows/project-backfill.yml
Labels: none

fix(shared-state): improve project backfill workflow formatting
  .github/workflows/project-backfill.yml
Labels: none

feat(shared-state): add Python project backfill tool
  tools/project_backfill.py
Labels: role:integration, status:In Progress

feat(devops): seed board/status labels for Projects v2 integration
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
  control/journal/agents/security-lead/2025-10/security-lead-2025-10-18.ndjson
  reports/devops/board-status-labels-summary.md
  tools/__pycache__/journal.cpython-311.pyc
Labels: role:coordinator, role:integration, status:Todo, status:In Progress, status:Done

coordinator: Backfill Verification Complete
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

coordinator: Test journal-to-issues workflow with secrets
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

fix: update journals baseline to include test handoff
  control/config/journals_baseline.json
Labels: role:coordinator, role:integration

test: project-sync workflow
  test-project-sync.md
Labels: none

coordinator: Full Automation Test Complete - Secrets Working
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

feat(devops): bootstrap Projects v2 secrets and role mapping
  .github/role-map.json
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/security-lead/2025-10/security-lead-2025-10-18.ndjson
  reports/devops/projects-role-map-bootstrap-summary.md
Labels: role:coordinator, role:integration, status:Todo, status:Done

feat(shared-state): add project repair and autosync system
  .github/role-map.json
  .github/workflows/project-autosync.yml
  .github/workflows/project-repair.yml
  tools/project_repair.py
Labels: role:integration, status:In Progress

fix(shared-state): improve project repair script GraphQL handling
  tools/project_repair.py
Labels: role:integration, status:In Progress

coordinator: EOD - Board Normalized
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

chore(board): add Projects v2 reconciler (Status+Assignees)
  tools/project_fields.py
  tools/project_reconcile.py
Labels: role:integration, status:In Progress

fix(board): fix GraphQL union type handling in project reconciler
  tools/project_fields.py
Labels: role:integration, status:In Progress

ci(board): autosync and nightly repair for Projects v2
  .github/workflows/project-autosync.yml
  .github/workflows/project-repair.yml
Labels: none

coordinator: Board Normalized — Status Fields Populated + QA Audit Handoff
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

coordinator: Board normalized and QA audit handoff
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

chore(board): status parity (labels <-> Project Status field)
  tools/project_gql.py
  tools/status_parity.py
Labels: role:integration, status:In Progress

docs: DevEx Lead journal - status parity tool implementation
  control/journal/agents/devex-lead/2025-10/devex-lead-2025-10-18.ndjson
Labels: role:coordinator, role:integration, status:Todo

feat(devex): implement project status parity synchronization tools
  tools/project_gql.py
  tools/status_parity.py
Labels: role:integration, status:In Progress

feat(shared-state): configure project autosync workflow
  .github/workflows/project-autosync.yml
Labels: none

autosync: populate Project text field 'Agent Role' from role:* labels
  tools/board_contract.py
  tools/project_gql.py
Labels: role:integration, status:In Progress

devex: deterministic Agent Role repair (Owner/handoff/label + area-map) + reports
  .github/area-role-map.yml
  tools/agent_role_repair.py
  tools/project_gql.py
Labels: role:integration, status:In Progress

devex: Agent Role hotfix — set-only, no clears, area-fallback disabled
  tools/agent_role_repair.py
Labels: role:integration, status:In Progress

P010: deduplicate legacy store helper logic
  .ai/REVIEW.md
  store.py
  tests/test_store_dossier_helpers.py
Labels: status:Blocked

docs: record P010 validation results
  .ai/REVIEW.md
Labels: none

P020: harden API key and local config defaults
  .gitignore
  README.md
  app.py
  app/settings.py
  app_config.example.json
  app_config.json
  tests/test_config_and_api_keys.py
Labels: status:Blocked

fix(ci): align imports/contracts and pyright json scope [P050]
  .ai/REVIEW.md
  .github/workflows/contracts.yml
  .github/workflows/imports.yml
  packages/plugins/python314_integration.py
Labels: status:In Progress

docs(ai): refresh orchestrator M1 facts in map/brain [P060]
  .ai/REPO_BRAIN.md
  .ai/REPO_MAP.json
  .ai/REVIEW.md
Labels: none

fix(ci): repair ruff/unit/coverage workflows [P061]
  .ai/REVIEW.md
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .github/workflows/unit.yml
Labels: none

.github/labeler.yml:

area:runtime:        [ 'packages/core-lib/**' ]
area:workflow:       [ 'packages/workflow/**' ]
area:tools:          [ 'packages/wrappers/**' ]
area:findings:       [ 'packages/findings/**' ]
area:observability:  [ 'packages/observability/**' ]
area:security:       [ 'packages/security/**' ]
area:resources:      [ 'packages/resources/**' ]
area:docs:           [ 'docs/**' ]
role:coordinator:    [ 'control/**', 'reports/**' ]
role:integration:    [ 'control/**', 'tools/**' ]

# Status labels for project management
status:Todo:         [ 'control/journal/**/*.ndjson' ]
status:In Progress:  [ 'packages/**', 'tools/**', 'scripts/**' ]
status:Blocked:      [ 'docs/**', 'tests/**' ]
status:Done:         [ 'reports/**', 'archive/**' ]
