Repository Juhertra/dev, changes with the owners that CODEOWNERS names for each.
All owners: @runtime-lead, @security-lead, @workflow-lead, @tools-lead, @findings-lead, @observability-lead, @resources-lead, @integration-lead, @devex-lead, @coordinator, @docs-lead

CODEOWNERS:

# Core
/packages/core-lib/            @runtime-lead @security-lead
/packages/workflow/            @workflow-lead @runtime-lead
/packages/wrappers/            @tools-lead @findings-lead
/packages/findings/            @findings-lead @security-lead
/packages/observability/       @observability-lead
/packages/security/            @security-lead
/packages/resources/           @resources-lead @runtime-lead

# Shared-state plumbing
/control/**                    @integration-lead @devex-lead @coordinator
/tools/journal.py              @integration-lead
/tools/compile_daily_report.py @integration-lead
/reports/**                    @integration-lead

# Docs & CI/meta
/docs/**                       @docs-lead @devex-lead
/.github/**                    @devex-lead @integration-lead

feat(devops): configure repository secrets and branch protection
  control/journal/agents/coordinator/2025-10/coordinator-2025-10-18.ndjson
  control/journal/agents/devops-lead/2025-10/devops-lead-2025-10-18.ndjson
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
  reports/daily/2025/01/18/compiled-2025-10-18T13-41-55Z.md
  reports/daily/2025/01/18/compiled.md
  reports/daily/2025/01/18/latest.md
  reports/daily/2025/10/18/compiled-2025-10-18T13-42-18Z.md
  reports/daily/2025/10/18/compiled.md
  reports/daily/2025/10/18/latest.md
  reports/daily/YYYY/MM/DD/compiled-2025-10-18T13-41-34Z.md
  reports/daily/YYYY/MM/DD/compiled.md
  reports/daily/YYYY/MM/DD/latest.md
  reports/devops/devops-lead-configuration-summary.md
  tools/__pycache__/__init__.cpython-311.pyc
  tools/__pycache__/journal.cpython-311.pyc
  tools/__pycache__/registry.cpython-311.pyc
Owners: @integration-lead, @devex-lead, @coordinator

feat(devex): enforce shared-state workflows as required checks
  .pre-commit-config.yaml
Owners: none

docs: DevEx Lead journal entry - shared-state workflows enforcement
  control/journal/agents/devex-lead/2025-10/devex-lead-2025-10-18.ndjson
Owners: @integration-lead, @devex-lead, @coordinator

feat(shared-state): add baseline timestamp for legacy event handling
  control/config/journals_baseline.json
  tools/verify_journals.py
Owners: @integration-lead, @devex-lead, @coordinator

docs: add shared-state guide v1.0
  docs/shared-state.md
  mkdocs.yml
Owners: @docs-lead, @devex-lead

chore(reports): update journal metrics [skip ci]
  reports/daily/2025/10/18/metrics.json
Owners: @integration-lead

feat(shared-state): add journal-to-issues and project status sync workflows
  .github/labeler.yml
  .github/workflows/journal-to-issues.yml
  .github/workflows/project-status-sync.yml
  control/journal/agents/integration-lead/2025-10/integration-lead-2025-10-18.ndjson
Owners: @devex-lead, @integration-lead, @coordinator

docs(shared-state): add SecFlow Projects v2 board documentation
  docs/shared-state/PROJECTS.md
Owners: @docs-lead, @devex-lead
